body {
    background-color:#0e59f0 ;
    color: #ced9ed;
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;

}
#0000e8
header{
    display: flex;
    justify-content: center;
}

form  {
    color: black;
    flex-direction: column;
    width: 250px;
    height: 122px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #ced9ed;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: -3px 3px 5px grey;

}

button {
    border-radius: 15px;
}


/* =================Skill Card========================= */
#skill-section {
    display: flex;
    justify-content: space-around;
    color: #ced9ed;

}

#strength-skill-card {
    width: 450px;
    height: 250px;
    border: 2px solid black;
    background-color: #0000e8;
    border-radius: 10px;
    font-size: 1.2rem;
}

li{
    list-style: none;
}
